.content {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 60%;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

.content h1 {
    padding: 0.1em 0;
    font-size: 140%;
    text-align: center;
}

input,
textarea,
select {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    padding: 1%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

input:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 1%;
    border: 1px solid #43D1AF;
}

input[type="submit"],
input[type="button"] {
    box-sizing: border-box;
    width: 100%;
    padding: 2%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background: #2EBC99;
}